<h1>How to Destroy Ng Components !!!</h1>
<nav>
  <ul>
    <li><a routerLink="/async-pipe" routerLinkActive="link-active">Using Async Pipe</a></li>
    <br />
    <li><a routerLink="/ng-destroy" routerLinkActive="link-active">Leaky Component</a></li>
    <br />
    <li><a routerLink="/unsub" routerLinkActive="link-active">Using Unsubscribe</a></li>
    <br />
    <li><a routerLink="/take-untill" routerLinkActive="link-active">Using takeUntill</a></li>
    <br />
    <li><a routerLink="/take-one" routerLinkActive="link-active">Using Take One</a></li>
  </ul>
</nav>
<div style="height: 50%; width: 50%; border: 1px solid black;">
  <router-outlet></router-outlet>
</div>